/*Colors*/

.mainBackBlack{
    background-color: #7f8c8d;
}

/*Main Styles*/
body{
    overflow: hidden;
}
#terminalWrapper{
    width:100%;
    height:100%;
    position: absolute;
    right:0px;
    left:0px;
    bottom: 0px;
    top:0px;
    display: table;
    padding:5px 0px 5px 5px;
    font-family:'Fira Sans';
}
#cursor{
    -webkit-animation-name: blinking;
    -moz-animation-name: blinking;
    -o-animation-name: blinking;
    animation-name: blinking;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color:white;
}
/*Content Styles*/
.line{
    display: block;
    line-height:25px;
    height:25px;
}
.success{
    color: #2ecc71;
}
.error{
    color:#c0392b;
}
.warning{
    font-style: italic;
    color:#d35400;
}
.contentOfTheLine{
    padding-left:5px;
}
.userPartialInput{
    padding-left:10px;
}
#terminalLoading,.terminalMsgWrapper{
    position: fixed;
    right:0px;
    left:0px;
    bottom: 0px;
    top:0px;
    background-color:white;
    animation-name:loadingAn;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    font-family:"Fira Sans";
    display: flex;
    align-items:center;
    vertical-align: middle;
    text-align: center;
}
.terminalMsgWrapper{
    background-color:#c0392b;
    color:#e74c3c;
    font-weight:bold;
    z-index: 10;
    display: none;
}
#terminalLoading>span,.terminalMsgWrapper>span{
    display: block;
    width:100%;
    text-align: center;
}
.fadeOut{
    opacity: 0;
    transform:scale(10);
    transition-duration:0.3s;
}

/*Animations*/

@keyframes blinking {
    from{
        opacity:0;
    }
    to{
        opacity:100;
    }
}

@keyframes loadingAn {
    from{
        font-size:40px;
    }
    to{
        font-size:20px;
    }
}